:root {
    --main-color-1: #f8b120;
    --main-color-2: #ffd636;
    --main-color-3: #ae8328;
    --main-color-1Op: #ae842844;

    --background: #404c52;

    
}


.cardContainer {
    
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content:space-around;

    padding: 50px;
    

    
    

}
.card, .front-face, .back-face {
    border-radius: 20px;
    transition: transform .3s ease-in-out;
    
}


.card {
   
    height: 400px;
    width: 320px;
    transform-style: preserve-3d;
    perspective: 1000px;
    
}

.card .front-face,
.card .back-face {
    position: absolute;
    height: 100%;
    width: 100%;
    text-align: center;
    color: #ffffff;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    backface-visibility: hidden;
    transition: transform .7s cubic-bezier(.4, .2, .2, 1);
    border: 1px #000000 solid;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content:space-around;

    
    background: linear-gradient(35deg, rgba(0,0,0,1) 10%, rgba(0,0,0,0.6362920168067228) 50%, rgba(0,0,0,0.3449754901960784) 100%);;
    
}

.card .front-face img {
    max-width: 100px;
    opacity: .5;
}

.card .back-face {
    transform: rotateY(180deg);
    background-color: #0000009e;
    background-repeat: no-repeat;
    background-size: cover;
}

.card .back-face h2 {
    margin-top: 40%;
    color: #ffffff;
    font-size: 32px;
    letter-spacing: 1px;
}

.card .back-face p {
    margin-top: 6px;
    color: #dddddd;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1px;
}

.card .back-face .icons {
    margin-top: 30px;
}

.card .back-face .icons i {
    cursor: pointer;
    color: #d74039;
    background: #ffffff;
    font-size: 20px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    margin: 0 5px;
}

.card:hover > .back-face {
    transform: rotateY(0deg);
}

.card:hover > .front-face {
    transform: rotateY(-180deg);
}
  @keyframes moveToRight {
    0% {
       transform: translateX(0px);
     }
    50% {
       transform: translateX(150px);
     }
      100% {
       transform: translateX(300px);

      }
    }