@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
:root {
    --main-color-1: #f8b120;
    --main-color-2: #ffd636;
    --main-color-3: #ae8328;
    --main-color-1Op: #ae842844;
    
    --background: #454446;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
    
}

html {
    font: 10px;
    font-family: 'Montserrat', sans-serif;
    background: linear-gradient(41deg, rgba(69,68,70,0.8687850140056023) 34%, rgba(69,68,70,0.7679446778711485) 64%, rgba(69,68,70,0.8267682072829132) 85%, rgba(69,68,70,0.8491771708683473) 97%);
}

a {
    text-decoration: none;
}

.container {
    min-height: 100vh;
    width: 100%;

    display: flex;
    flex-direction: center;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
   
    

}
/* header */
/* Style the navbar */
    #navbar {
    overflow: hidden;
    background-color: transparent;
    position: absolute;
    z-index: 4;

    

  }
  
  /* Navbar links */


  
  #navbar .main {
    border: rgba(0, 0, 0, 0.1) solid 1px;
    
   
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;

    margin: 15px;
  
  }

  #navbar nav {
 
    padding: 10px;
    text-align: center;
    width: 100%;
    position: fixed;
    top: 0px;
  }

  #navbar .button {
    border: solid transparent 1px;
    border-radius: 20px;

    padding-left: 10px;
    padding-right: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    color: #f3f3f3;
  }

  #navbar .button:hover {
    border: solid var(--main-color-3) 1px;
    border-radius: 20px;

    background-color: var(--main-color-1Op);
    
   

    padding-left: 10px;
    padding-right: 10px;
    padding-top: 3px;
    padding-bottom: 3px;

    color: #f3f3f3;

    transition: all ease-in-out 0.3s;
    
  }

  



#header {
    
    z-index: 2;
}

#header .container {
    min-height: 5vh;
    width: auto;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    
  
}

#header .imgContainer {
    height: 100%;
    width: auto;
    padding: 10px;
}

#header .logo {
    border: #ffd636 solid;
    height: 4vh;
}

#header .h {
    border: #ae8328 solid;
    width: 100px;
    height: 100px;
}
/* hero */

#hero {
    background-image: url("img/Ponti-1.jpg");
    background-size: cover;
    background-position: top center;
    position: relative;
    z-index: 1;
    
}
#hero::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: .6;
    z-index: -1;
}

#hero h1 {
    display: block;
    width: fit-content;
    font-size: 4rem;
    position: relative;
    color: white;
}

#hero .button01{
    display: inline-block;
    padding: 10px 30px;
    color: var(--main-color-1);
    background-color: transparent;
    border: solid 1px var(--main-color-1);
    font-size: 2rem;
}


/* footer */ 

@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");


.wrapper {
  display: inline-flex;
  list-style: none;
}

.wrapper .icon {
  position: relative;
  background: #ffffff;
  border-radius: 50%;
  padding: 15px;
  margin: 10px;
  width: 50px;
  height: 50px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}


.wrapper .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background: #ffffff;
  color: #ffffff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background: #ffffff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .facebook:hover,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before {
  background: #1877F2;
  color: #ffffff;
}

.wrapper .twitter:hover,
.wrapper .twitter:hover .tooltip,
.wrapper .twitter:hover .tooltip::before {
  background: #1DA1F2;
  color: #ffffff;
}

.wrapper .instagram:hover,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before {
  background: #E4405F;
  color: #ffffff;
}

.wrapper .youtube:hover,
.wrapper .youtube:hover .tooltip,
.wrapper .youtube:hover .tooltip::before {
  background: #CD201F;
  color: #ffffff;
}



.js-scroll {
  width: 50%;
  height: 300px;
  background-color: #DADADA;
  transition: background-color 500ms;
}
 
.js-scroll.scrolled {
  background-color: aquamarine;
}


